<div class="edit-container">
<h1> Edit Task </h1>

<%= form_with model: @task  do |form|%>
<div>
<%= form.text_field :task , required: true, class: "edit-text"%>
</div>
<div>
<%= form.date_field :date , required: true, class: "edit-date" %>
</div>
<div>
<%= form.submit "Update" , class:"edit-form"%>
</div>

<%end%>
<%= link_to "Previous", remind_url,class: "back"%>
<%= link_to "Main", reminds_url,class:"edit"%>

</div>